#cap-young{
    margin-bottom: -1px;
    .parallax-window {
        min-height: 500px;
        background: transparent;
    }
    .container {
        padding-top: 50px;
        max-width: 500px;
    }
    
    .header {
        padding: 25px 30px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
    }
    
    .header-text {
        text-align: center;
        padding-bottom: 20px;
    }
    
}
